<mat-accordion displayMode="flat" multi="true">
    <mat-expansion-panel hidden>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Business information</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <h1>bla</h1>
    </mat-expansion-panel>

    <mat-expansion-panel hidden>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Address</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
                <h1>bla bla</h1>
    </mat-expansion-panel>

</mat-accordion>