<div class="top-menu">    
    <ng-container *ngIf="!auth.isAuthenticated()">
        <span fxShow="false" fxShow.gt-sm>
                <a mat-button routerLink="/sign-in">List your business</a>
        </span> 

        <span fxShow="false" fxShow.gt-sm>
            <a mat-button routerLink="/sign-in">Login/Signup</a>
        </span>  
    </ng-container> 
        <span *ngIf="auth.isAuthenticated()" fxShow="false" fxShow.gt-sm>
            <a mat-button (click)="logout()">Logout</a>
        </span> 

        <span *ngIf="auth.isAuthenticated()" fxShow="false" fxShow.gt-sm>
            <a mat-button >{{auth.getUserName()}}</a>
        </span> 
</div>  