<footer class="footer">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-3 border-bottom-mute theme-container">        

        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="60" ngClass.xs="mt-2"> 
            <p class="footer_spacing">
                <a class="footer_home" routerLink="/">Home</a>
                <a class="footer_contact" routerLink="/contact">Contact Us</a>
                <a class="footer_about" routerLink="/about-us">About Us</a> 
            </p>
        </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright secondary-color theme-container">
        <p ngClass.xs="mt-1">Copyright © 2019 All Rights Reserved</p>
        <p><a mat-button href="http://laeventa.com/" target="_blank">Laeventa</a></p>
    </div>
</footer>