<mat-card>
    <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordFormSubmit(resetPasswordForm.value)">
                    <mat-form-field class="w-100 mt-1">
                        <input matInput placeholder="Password" formControlName="password" type="password" required>
                        <mat-error *ngIf="resetPasswordForm.controls.password.errors?.required">Password is required</mat-error>
                        <mat-error *ngIf="resetPasswordForm.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                    </mat-form-field> 
                    <mat-form-field class="w-100 mt-1">
                        <input matInput placeholder="Confirm Password" formControlName="confirm" type="password" required>
                        <mat-error *ngIf="resetPasswordForm.controls.confirm.errors?.required">Password is required</mat-error>
                        <mat-error *ngIf="resetPasswordForm.controls.confirm.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                    </mat-form-field> 
                    <div class="text-center mt-2">
                        <button mat-fab color="primary" class="mat-elevation-z6" (click)="onResetPasswordFormSubmit(resetPasswordForm.value)">
                            <mat-icon>person_add</mat-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div> 
</mat-card>

<!-- <div class="row">
    <form action="/reset/token" method="POST">
        <legend>Reset Password</legend>
        <input type="password" name="password" value="" placeholder="New Password">

        <button type="submit">Update</button>
    </form>
</div> -->