<div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">

    <div class="container">

              
            <form #producthForm="ngForm" class="w3-container">
                     <mat-expansion-panel>
                                   <mat-expansion-panel-header>
                                          <mat-panel-title>
                                                 <h4>Name</h4>
                                          </mat-panel-title>
                                   </mat-expansion-panel-header>
                    <p>
                    <label></label>
                    <input class="w3-input" 
                           type="text"
                           placeholder="Hotel/Venue Name"
                           id="name"
                           name="name"
                           [(ngModel)]="newProducth.name"></p>
                     </mat-expansion-panel>
                     <br>
                     <mat-expansion-panel>
                                   <mat-expansion-panel-header>
                                          <mat-panel-title>
                                                 <mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon>
                                          </mat-panel-title>
                                   </mat-expansion-panel-header>
                     
                    <p>
                    <br>
                    <select class="w3-input"
                            id="category"
                            name="category"
                            [(ngModel)]="newProducth.category">
                            <option [ngValue]="undefined" disabled selected>Select Category </option>
                        <option *ngFor="let category of producthCategories">{{category}} </option>
                     </select></p>
                     
                    <p>
                    <br>
                    <label></label>
                    <select class="w3-input" 
                           id="city"
                           name="city"
                           [(ngModel)]="newProducth.city">
                     <option [ngValue]="undefined" disabled selected>Select City </option>
                     <option *ngFor="let city of producthCities">{{city}} </option>  
                     </select></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                            type="text"
                            placeholder="Street"
                            id="street"
                            name="street"
                            [(ngModel)]="newProducth.street"></p>
                     </mat-expansion-panel>
                    <p>
                    <br>
                    <input class="w3-input" 
                            type="text"
                            placeholder="Address"
                            id="address"
                            name="address"
                            [(ngModel)]="newProducth.address"></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                            type="text"
                            placeholder="Landmark"
                            id="landmark"
                            name="landmark"
                            [(ngModel)]="newProducth.landmark"></p>
                    <p>    
                    <br>    
                    <input class="w3-input" 
                            type="email"
                            placeholder="Email"
                            id="email"
                            name="email"
                            [(ngModel)]="newProducth.email"></p>                    
                    <p>
                    <br>
                    <input class="w3-input" 
                           type="number"
                           placeholder="Mobile"
                           id="mobile"
                           name="mobile"
                           [(ngModel)]="newProducth.mobile"></p>
                    <p>
                    <br>
                    <label>Upload Image 1</label>
                    <input class="w3-input" 
                           type="file"
                           id="image1"
                           (change)="handleImage1Change()"></p>
                    <p>
                    <br>
                    <label>Upload Image 2</label>
                    <input class="w3-input" 
                           type="file"
                           id="image2"
                           (change)="handleImage2Change()"></p>
                    <p>
                    <br>
                    <label>Upload Image 3</label>
                    <input class="w3-input" 
                           type="file"
                           id="image3"
                           (change)="handleImage3Change()"></p>
                    <p>
                    <br>
                    <label>Upload Image 4</label>
                    <input class="w3-input" 
                           type="file"
                           id="image4"
                           (change)="handleImage4Change()"></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                           type="number"
                           placeholder="Price per day"
                           id="dailyRate"
                           name="dailyRate"
                           [(ngModel)]="newProducth.dailyRate"></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                           type="number"
                           placeholder="Per plate cost (veg)"
                           id="vegPackage"
                           name="vegPackage"
                           [(ngModel)]="newProducth.veg_package"></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                           type="number"
                           placeholder="Per plate cost (Non-veg)"
                           id="nonVegPackage"
                           name="nonVegPackage"
                           [(ngModel)]="newProducth.non_veg_package"></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                           type="number"
                           placeholder="Max guests allowed"
                           id="guests"
                           name="guests"
                           [(ngModel)]="newProducth.guests"></p>
                    <p>
                    <br>
                    <label></label>
                    <select class="w3-input" 
                           id="ac"
                           name="ac"
                           [(ngModel)]="newProducth.ac">
                     <option [ngValue]="undefined" disabled selected>Air Conditioning </option>
                     <option *ngFor="let ac of producthAc">{{ac}} </option>  
                     </select></p>
                     <p>
                    <br>
                    <label></label>
                    <select class="w3-input" 
                           id="wifi"
                           name="wifi"
                           [(ngModel)]="newProducth.wifi">
                     <option [ngValue]="undefined" disabled selected>Wifi </option>
                     <option *ngFor="let wifi of producthWifi">{{wifi}} </option>  
                     </select></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                           type="text"
                           placeholder="Timings"
                           id="timings"
                           name="timings"
                           [(ngModel)]="newProducth.timings"></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                           type="text"
                           placeholder="Parking"
                           id="parking"
                           name="parking"
                           [(ngModel)]="newProducth.parking"></p>
                    <p>
                    <br>
                    <label></label>
                    <select class="w3-input" 
                           id="restaurant"
                           name="restaurant"
                           [(ngModel)]="newProducth.restaurant">
                     <option [ngValue]="undefined" disabled selected>Restaurant Available? </option>
                     <option *ngFor="let restaurant of producthRestaurant">{{restaurant}} </option>  
                     </select></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                           type="text"
                           placeholder="USP"
                           id="usp1"
                           name="usp1"
                           [(ngModel)]="newProducth.usp1"></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                           type="text"
                           placeholder="USP"
                           id="usp2"
                           name="usp2"
                           [(ngModel)]="newProducth.usp2"></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                            type="text"
                            placeholder="USP"
                            id="usp3"
                            name="usp3"
                            [(ngModel)]="newProducth.usp3"></p>
                    <p>
                    <br>
                    <input class="w3-input" 
                           type="number"
                           placeholder="Discount %"
                           id="discount"
                           name="discount"
                           [(ngModel)]="newProducth.discount"></p>
                    <p>
                    <br>
                    <label></label>
                    <select class="w3-input" 
                           id="fireworks"
                           name="fireworks"
                           [(ngModel)]="newProducth.fireworks">
                     <option [ngValue]="undefined" disabled selected>Fireworks Allowed </option>
                     <option *ngFor="let fireworks of producthFireworks">{{fireworks}} </option>  
                     </select></p>
                    <p>
                    <br>
                    <label></label>
                    <select class="w3-input" 
                           id="music"
                           name="music"
                           [(ngModel)]="newProducth.music">
                     <option [ngValue]="undefined" disabled selected>Music Allowed </option>
                     <option *ngFor="let music of producthMusic">{{music}} </option>  
                     </select></p>
                    <p>
                    <br>
                    <label></label>
                    <select class="w3-input" 
                           id="advance_payment"
                           name="advance_payment"
                           [(ngModel)]="newProducth.advance_payment">
                     <option [ngValue]="undefined" disabled selected>Advance Payment </option>
                     <option *ngFor="let advance_payment of producthAdvancePayment">{{advance_payment}} </option>  
                     </select></p>
                    <p>
                    <br>
                    <textarea rows="5"
                              cols="80"
                        type="text"
                        class="w3-input"
                        id="description"
                        placeholder="Describe your venue"
                        name="description"
                        [(ngModel)]="newProducth.description"
                        required> </textarea>
            <br>
            <button (click)="createProducth()" 
                        type="button" 
                        class="">Submit
            </button>                                                                
                    
            </form>
            <br>
            <div *ngIf="errors.length > 0" class="alert alert-danger">
              <p *ngFor="let error of errors">
                     {{error.detail}}
              </p>
       </div>
    </div>
</div>