<div>
        <div fxFlex="100" fxFlex.gt-md="45" fxFlex.md="25" ngClass.gt-sm="px-2 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
        
        
            <!-- <button mat-icon-button (click)="openZoomViewer()" fxHide="false" fxHide.gt-md><mat-icon>fullscreen</mat-icon></button>
            <img *ngIf="image" [src]="image" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)"/> -->
               <mat-card >
                <div ng2-carouselamos class="mat-card.product-image"
                     [items]="items"
                     [$prev]="prev"
                     [$next]="next"
                     [$item]="item">
                </div>

                <ng-template #prev>
                        <img src="assets/images/arrows/prev.png" alt="">
                </ng-template>
                
                <ng-template #next>
                        <img src="assets/images/arrows/next.png" alt="">
                </ng-template>
                
                <ng-template #item>
                        
                    <img id="custom-image" *ngIf="producth?.image1" [src]="producth.image1" >
                    <img id="custom-image" *ngIf="producth?.image2" [src]="producth.image2" >
                    <img id="custom-image" *ngIf="producth?.image3" [src]="producth.image3" >
                    <img id="custom-image" *ngIf="producth?.image4" [src]="producth.image4" >
                    <img id="custom-image" *ngIf="producth?.image5" [src]="producth.image5" >
                        
                </ng-template>
                </mat-card>
        
    <br>
    <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
        <img src="assets/images/icons/summary.png" alt="summary img">
        <div class="content">
            <p><b style="font-size:18px; margin-left: 10px;">Summary:</b></p>
            <p style="font-size:14px; margin-left: 10px;">{{producth?.summary}}</p>
        </div> 
    </mat-card>

    </div>
    
    <div fxFlex="100" fxFlex.gt-md="45" fxFlex.md="55" ngClass.gt-sm="px-2 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
        
        <div #zoomViewer fxShow="false" fxShow.gt-md>
            <mat-card *ngIf="zoomImage" class="zoom-viewer mat-elevation-z18" [ngStyle]="{'background-image': 'url(' + zoomImage + ')'}"></mat-card>
        </div>

        <h2>{{producth?.name | ucwords }}</h2>
        
        <div class="py-1 lh">
            <p><span class="text-muted fw-500"></span><span><b>{{ producth?.category | ucwords}}</b></span></p>
        </div>  
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <img src="assets/images/icons/location.png" alt="location img">
            <div class="content">
                <p><b style="font-size:15px; margin-left: 10px;">{{ producth?.plot_flat | ucwords}}, {{producth?.region | ucwords}}, {{ producth?.city | ucwords}}</b></p>
            </div> 
        </mat-card>
        <div class="divider mt-1"></div>
         
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <img src="assets/images/icons/email.png" alt="email img">
                <div class="content">
                    <p><b style="font-size:15px; margin-left: 10px;">{{ producth?.email }}</b></p>
                </div> 
            </mat-card>
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <img src="assets/images/icons/mobile.png" alt="phone img">
                <div class="content">
                    <p><b style="font-size:15px; margin-left: 10px;">+91 {{ producth?.phone }}</b></p>
                </div> 
            </mat-card>
            <div class="divider"></div>      
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxHide fxShow.gt-md> 

        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-0">
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <img src="assets/images/icons/price.png" alt="Price img">
                    <div class="content">
                        <p style="font-size:14px; margin-left :10px ">Price Range</p>
                        <p style="font-size:14px; margin-left :10px ">Rs. {{ producth?.max_rate }} - Rs. {{ producth?.max_rate }}</p>
                    </div> 
                </mat-card> 
            </div>
        </div> 

        <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50" class="mt-16">
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <img src="assets/images/icons/usp.png" alt="Usp img">
                <div class="content">
                    <p style="font-size:18px; margin-left :10px ">USP</p>
                    <p *ngIf="producth?.usp1" style="font-size:14px; margin-left :10px ">{{producth?.usp1}}</p>
                    <p *ngIf="producth?.usp2" style="font-size:14px; margin-left :10px ">2{{producth?.usp2}}</p>
                    <p *ngIf="producth?.usp3" style="font-size:14px; margin-left :10px ">{{producth?.usp3}}</p>
                    <p *ngIf="producth?.usp4" style="font-size:14px; margin-left :10px ">{{producth?.usp4}}</p>
                    <p *ngIf="producth?.usp5" style="font-size:14px; margin-left :10px ">{{producth?.usp5}}</p>
                </div> 
            </mat-card> 
        </div>

        <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50" class="mt-16">
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <img src="assets/images/icons/available.png" alt="available img">
                <div class="content">
                    <p style="font-size:18px; margin-left :10px ">Best suited for</p>
                    <p style="font-size:14px; margin-left :10px ">{{ producth?.facilities }}</p>
                </div> 
            </mat-card> 
        </div>
             
    </div>
</div>

<div fxLayout="row wrap" class="mt-2">
    <div fxFlex="100" fxFlex.gt-md="78" fxFlex.md="74">
        <mat-card> 
            <mat-tab-group [@.disabled]="true" [selectedIndex]="0">       
                <mat-tab label="Overview">
                    <div class="full-desc lh">
                            <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16">
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Address</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.city | ucwords}}, {{producth?.region | ucwords}}</p> 
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Email</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.email}}</p> 
                                    </div> 
                                </mat-card>
                            </div>
                            <div class="outer">
                                <div class="inner"></div>
                            </div>
                            <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16">
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Landmark</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.landmark}}</p> 
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Contact</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.phone}}</p> 
                                    </div> 
                                </mat-card>
                            </div>
                    </div>
                    <div class="full-desc lh">
                        <h3>Map & Location</h3>
                        <h4><app-map [location]="producth?.city + ', ' +  producth?.region + ', ' + producth?.landmark"></app-map></h4>
                    </div>
                </mat-tab>
                <mat-tab label="Areas">
                        <mat-card>
                        <h3 id="area-number"> Number of Areas: {{producth?.venueareas.length}} </h3>
                        <div *ngFor="let venuearea of producth?.venueareas; let i = index">
                           
                            <div ng2-carouselamos class="mat-card.product-image"
                                [items]="items"
                                [$prev]="prev"
                                [$next]="next"
                                [$item]="item">
                            </div>
    
                            <ng-template #prev>
                                    <img src="assets/images/arrows/prev.png" alt="">
                            </ng-template>
                            
                            <ng-template #next>
                                    <img src="assets/images/arrows/next.png" alt="">
                            </ng-template>                                       
                                <ng-template #item>
                                    <img *ngIf="venuearea.image1" [src]="venuearea.image1" style="width:113%; height: 50%;">
                                    <img *ngIf="venuearea.image2" [src]="venuearea.image2" style="width:113%; height: 50%;">
                                    <img *ngIf="venuearea.image3" [src]="venuearea.image3" style="width:113%; height: 50%;">
                                    <img *ngIf="venuearea.image4" [src]="venuearea.image4" style="width:113%; height: 50%;">
                                    <img *ngIf="venuearea.image5" [src]="venuearea.image5" style="width:113%; height: 50%;">
                                </ng-template>

                                <br>
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                        <div class="content">
                                            <p style="font-size:14px; margin-left: 10px;">
                                                <b>Name: </b>{{venuearea?.name | ucwords}}
                                            </p>
                                            <p style="font-size:14px; margin-left: 10px;">
                                                <b>Type: </b>{{venuearea?.category | ucwords}}
                                            </p>
                                            <p *ngIf="producth?.category !== 'sports'" style="font-size:14px; margin-left: 10px;">
                                                <b>Price per plate: </b>{{venuearea?.price_per_plate | ucwords}}
                                            </p>
                                            <p *ngIf="producth?.category === 'sports'" style="font-size:14px; margin-left: 10px;">
                                                <b>Price per hour</b>{{venuearea?.price_per_hour}}
                                            </p>
                                            <p *ngIf="producth?.category === 'sports'" style="font-size:14px; margin-left: 10px;">
                                                <b>Price per hour</b>{{venuearea?.price_per_day}}
                                            </p>
                                            
                                        </div> 
                                </mat-card>   
                                <br>                                
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Description: </strong> 
                                    <div class="content">                                
                                        <p style="font-size:14px; margin-left: 10px;">
                                            <b>{{venuearea?.description}}</b>
                                        </p>
                                    </div> 
                                </mat-card>  
                                <br>                                
                                
                                <div id="delete-button" *ngIf="auth.isAuthenticated() && auth.getCategoryName()==='Hotel/Venue'">
                                <button (click)="venueareaDeleteIndex = i"
                                *ngIf="venueareaDeleteIndex !== i"
                                type="button" 
                                class="">Delete</button>
                                <br>
                                <div class="divider"></div>
                               
                        <div *ngIf="venueareaDeleteIndex === i">
                            clicked
                                
                            <p class="confirm-message">Do you confirm delete?</p> 
                                <button (click)="deleteVenueArea(venuearea._id)"
                                        class="btn btn-success">Yes</button>
                                <button (click)="venueareaDeleteIndex = undefined"
                                        class="btn btn-danger">No</button>
                            </div>
                            <div *ngIf="errors.length > 0" class="alert alert-danger">
                                    <p *ngFor="let error of errors">
                                           {{error.detail}}
                                    </p>
                                    <a style="background-color: Green" mat-button routerLink="/manage/venues">Manage</a>
                             </div>
                        </div>
                        <div class="divider"></div>
                        <br>
                        </div>

                    </mat-card>
                    
                    
                        <!-- <div *ngFor="let venuearea of venueareas; let i = index">
                                <button (click)="venueareaDeleteIndex = i"
                                *ngIf="venueareaDeleteIndex !== i"
                                type="button" 
                                class="">Delete</button>
                        <div *ngIf="venueareaDeleteIndex === i">
                            clicked
                                
                            <p class="confirm-message">Do you confirm delete?</p> 
                                <button (click)="deleteVenueArea(venuearea._id)"
                                        class="btn btn-success">Yes</button>
                                <button (click)="venueareaDeleteIndex = undefined"
                                        class="btn btn-danger">No</button>
                            </div>
                        </div> -->
                        
                </mat-tab>   
                <mat-tab label="Policies">
                    <div *ngIf="producth?.category === 'sports'" class="full-desc lh">
                            <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16">
                                <mat-card *ngIf="producth?.equipments_available_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Sports Equipments</strong> 
                                    <div class="content">
                                        <p *ngIf="producth?.equipments_available_policy === 'Sports equipment available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/available.png" alt="available img">
                                        </p>
                                        <p *ngIf="producth?.equipments_available_policy === 'Sports equipment not available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/not_available.png" alt="not available img">
                                        </p>
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card *ngIf="producth?.washroom_available_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Washroom</strong> 
                                    <div class="content">
                                        <p *ngIf="producth?.washroom_available_policy === 'Washroom available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/available.png" alt="available img">
                                        </p>
                                        <p *ngIf="producth?.washroom_available_policy === 'Washroom not available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/not_available.png" alt="not available img">
                                        </p>
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card *ngIf="producth?.scoreboard_available_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Scoreboard</strong> 
                                    <div class="content">
                                        <p *ngIf="producth?.scoreboard_available_policy === 'Scoreboard available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/available.png" alt="available img">
                                        </p>
                                        <p *ngIf="producth?.scoreboard_available_policy === 'Scoreboard not available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/not_available.png" alt="not available img">
                                        </p>
                                    </div> 
                                </mat-card>
                                <br> 
                                <mat-card *ngIf="producth?.parking_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Parking</strong> 
                                    <div class="content">
                                        <p *ngIf="producth?.parking_policy === 'Parking Available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/available.png" alt="available img">
                                        </p>
                                        <p *ngIf="producth?.parking_policy === 'Vallet parking available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/available.png" alt="not available img">
                                        </p>
                                        <p *ngIf="producth?.parking_policy === 'Parking not available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/not_available.png" alt="not available img">
                                        </p>
                                    </div> 
                                </mat-card>                                                                 
                                                           
                            </div>
                            <div class="outer">
                                <div class="inner"></div>
                            </div>
                            <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16">
                                <mat-card *ngIf="producth?.canteen_available_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Canteen</strong> 
                                    <div class="content">
                                        <p *ngIf="producth?.canteen_available_policy === 'Canteen available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/available.png" alt="available img">
                                        </p>
                                        <p *ngIf="producth?.canteen_available_policy === 'Canteen not available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/not_available.png" alt="not available img">
                                        </p>
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card *ngIf="producth?.power_backup_available_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Power Backup</strong> 
                                    <div class="content">
                                        <p *ngIf="producth?.power_backup_available_policy === 'Power backup available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/available.png" alt="available img">
                                        </p>
                                        <p *ngIf="producth?.power_backup_available_policy === 'Power backup not available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/not_available.png" alt="not available img">
                                        </p>
                                    </div> 
                                </mat-card>  
                                <br>
                                <mat-card *ngIf="producth?.commentator_available_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Commentator</strong> 
                                    <div class="content">
                                        <p *ngIf="producth?.commentator_available_policy === 'Commentator available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/available.png" alt="available img">
                                        </p>
                                        <p *ngIf="producth?.commentator_available_policy === 'Commentator not available'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/not_available.png" alt="not available img">
                                        </p>
                                    </div> 
                                </mat-card>   
                                <mat-card *ngIf="producth?.parking_space_cars" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Max Parking Capacity(Cars):</strong> 
                                    <div class="content">
                                        <p style="font-size:14px; margin-left: 10px;">
                                            <b>{{producth?.parking_space_cars}}</b>
                                        </p>
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card *ngIf="producth?.parking_space_bikes" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Max Parking Capacity(Bikes):</strong> 
                                    <div class="content">
                                        <p style="font-size:14px; margin-left: 10px;">
                                            <b>{{producth?.parking_space_bikes}}</b>
                                        </p>
                                    </div> 
                                </mat-card>                                                               
                            </div>
                    </div>
                    <div *ngIf="producth?.category !== 'sports'" class="full-desc lh">
                        <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16">
                            <mat-card *ngIf="producth?.lodging_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <strong>Lodging</strong> 
                                <div class="content">
                                    <p *ngIf="producth?.lodging_policy === 'Available'" style="font-size:12px; margin-left: 10px;">
                                        <img src="assets/images/icons/available.png" alt="available img">
                                    </p>
                                    <p *ngIf="producth?.lodging_policy === 'Not Available'" style="font-size:12px; margin-left: 10px;">
                                        <img src="assets/images/icons/not_available.png" alt="not available img">
                                    </p>
                                </div> 
                            </mat-card>
                            <br>
                            <mat-card *ngIf="producth?.food_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <strong>Outside food allowed</strong> 
                                <div class="content">
                                    <p *ngIf="producth?.food_policy === 'Outside food allowed'" style="font-size:12px; margin-left: 10px;">
                                        <img src="assets/images/icons/available.png" alt="available img">
                                    </p>
                                    <p *ngIf="producth?.food_policy === 'Outside food not allowed'" style="font-size:12px; margin-left: 10px;">
                                        <img src="assets/images/icons/not_available.png" alt="not available img">
                                    </p>
                                </div> 
                            </mat-card>
                            <br>
                            <mat-card *ngIf="producth?.alcohol_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <strong>Alcohol</strong> 
                                <div class="content">
                                    <p *ngIf="producth?.alcohol_policy === 'Alcohol allowed'" style="font-size:12px; margin-left: 10px;">
                                        <img src="assets/images/icons/available.png" alt="available img">
                                    </p>
                                    <p *ngIf="producth?.alcohol_policy === 'Alcohol Not Allowed'" style="font-size:12px; margin-left: 10px;">
                                        <img src="assets/images/icons/not_available.png" alt="not available img">
                                    </p>
                                </div> 
                            </mat-card>
                            <br> 
                            <mat-card *ngIf="producth?.parking_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <strong>Parking</strong> 
                                <div class="content">
                                    <p *ngIf="producth?.parking_policy === 'Parking Available'" style="font-size:12px; margin-left: 10px;">
                                        <img src="assets/images/icons/available.png" alt="available img">
                                    </p>
                                    <p *ngIf="producth?.parking_policy === 'Vallet parking available'" style="font-size:12px; margin-left: 10px;">
                                        <img src="assets/images/icons/available.png" alt="not available img">
                                    </p>
                                    <p *ngIf="producth?.parking_policy === 'Parking not available'" style="font-size:12px; margin-left: 10px;">
                                        <img src="assets/images/icons/not_available.png" alt="not available img">
                                    </p>
                                </div> 
                            </mat-card>   
                            <br>
                            <mat-card *ngIf="producth?.decor_policy" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Decoration</strong> 
                                    <div class="content">
                                        <p *ngIf="producth?.decor_policy === 'Decoration provided'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/available.png" alt="available img">
                                        </p>
                                        <p *ngIf="producth?.decor_policy === 'Decoration not provided'" style="font-size:12px; margin-left: 10px;">
                                            <img src="assets/images/icons/not_available.png" alt="not available img">
                                        </p>
                                    </div> 
                            </mat-card>                                                              
                                                       
                        </div>
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16">                            
                            <mat-card *ngIf="producth?.payment_policy_percentage" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <strong>Advanced Payment </strong> 
                                <div class="content">
                                    <p style="font-size:14px; margin-left: 10px;">
                                        <b>{{producth?.payment_policy_percentage}} %</b>
                                    </p>

                                </div> 
                            </mat-card> 
                            <br>
                            <mat-card *ngIf="producth?.cancellation_policy_percentage" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <strong>Cancellation Charge </strong> 
                                <div class="content">
                                    <p style="font-size:14px; margin-left: 10px;">
                                        <b>{{producth?.cancellation_policy_percentage}} %</b>
                                    </p>

                                </div> 
                            </mat-card>  
                            <br> 
                            <mat-card *ngIf="producth?.parking_space_cars" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <strong>Max Car Parking:</strong> 
                                <div class="content">
                                    <p style="font-size:14px; margin-left: 10px;">
                                        <b>{{producth?.parking_space_cars}}</b>
                                    </p>
                                </div> 
                            </mat-card>
                            <br>
                            <mat-card *ngIf="producth?.parking_space_bikes" class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <strong>Max Bike Parking:</strong> 
                                <div class="content">
                                    <p style="font-size:14px; margin-left: 10px;">
                                        <b>{{producth?.parking_space_bikes}}</b>
                                    </p>
                                </div> 
                            </mat-card>                                                               
                        </div>
                </div>                    

                </mat-tab>
                <mat-tab *ngIf="auth.isAuthenticated() && auth.getCategoryName()==='Hotel/Venue'" label="Add New Areas">
                    <mat-card>                                                           
                        <form #venueareaForm="ngForm" class="w3-container">
                                     <h1>Add New Area</h1>
                                      <mat-expansion-panel>
                                             <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                           <h4>Area Name & Type</h4>
                                                    </mat-panel-title>
                                             </mat-expansion-panel-header>
                                      <p>
                                      <p>
                                      <br>
                                      <input class="w3-input" 
                                                    type="text"
                                                    placeholder="Name"
                                                    id="name"
                                                    name="name"
                                                    [(ngModel)]="newVenueArea.name">
                                      <br> 
                                      <select class="w3-input"
                                                    id="category"
                                                    name="category"
                                                    [(ngModel)]="newVenueArea.category">
                                                    <option [ngValue]="undefined" disabled selected>Select Area </option>
                                             <option *ngFor="let category of venueAreaCategories">{{category}} </option>
                                             </select></p>
                                     </mat-expansion-panel>
                                     <br>
                                     <mat-expansion-panel>
                                             <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                           <h4>Add Images</h4>
                                                    </mat-panel-title>
                                             </mat-expansion-panel-header> 
                                     <label>Upload Image 1</label>
                                            <laeventa-image-upload
                                            (imageUploaded)="handleImage1Change($event)"
                                                          (imageError)="handleImage1Error()"
                                            ></laeventa-image-upload>
                                     <p>
                                     <br>
                                     <label>Upload Image 2</label>
                                            <laeventa-image-upload
                                            (imageUploaded)="handleImage2Change($event)"
                                                          (imageError)="handleImage2Error()"
                                            ></laeventa-image-upload>
                                     <p>
                                     <br>
                                     <label>Upload Image 3</label>
                                            <laeventa-image-upload
                                            (imageUploaded)="handleImage3Change($event)"
                                                          (imageError)="handleImage3Error()"
                                            ></laeventa-image-upload>
                                     <p>
                                     <br>
                                     <label>Upload Image 4</label>
                                            <laeventa-image-upload
                                            (imageUploaded)="handleImage4Change($event)"
                                                          (imageError)="handleImage4Error()"
                                            ></laeventa-image-upload>
                                      <p>
                                      <br>
                                      <label>Upload Image 5</label>
                                             <laeventa-image-upload
                                             (imageUploaded)="handleImage5Change($event)"
                                                           (imageError)="handleImage4Error()"
                                             ></laeventa-image-upload>
                                      <p>
                                      <br>                                                    
                                     </mat-expansion-panel>
                                     <br>
                                     <mat-expansion-panel>
                                             <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                           <h4>Description</h4>
                                                    </mat-panel-title>
                                             </mat-expansion-panel-header>                                    
                                     <p>
                                     <input *ngIf="producth?.category !== 'sports'" class="w3-input" 
                                                     type="number"
                                                     placeholder="Price per plate"
                                                     id="price"
                                                     name="price"
                                                     [(ngModel)]="newVenueArea.price_per_plate"></p>   
                                                     <br>
                                    <input *ngIf="producth?.category === 'sports'" class="w3-input" 
                                                     type="number"
                                                     placeholder="Price per hour"
                                                     id="price_per_hour"
                                                     name="price_per_hour"
                                                     [(ngModel)]="newVenueArea.price_per_hour">  
                                                     <br *ngIf="producth?.category === 'sports'">  
                                     <input *ngIf="producth?.category === 'sports'" class="w3-input" 
                                                     type="number"
                                                     placeholder="Price per day"
                                                     id="price_per_day"
                                                     name="price_per_day"
                                                     [(ngModel)]="newVenueArea.price_per_day">
                                                     <br *ngIf="producth?.category === 'sports'">                                                                                                        
                                     <textarea rows="5"
                                                cols="80"
                                                type="text"
                                                class="w3-input"
                                                id="summary"
                                                placeholder="Describe the area within 800 characters."
                                                name="summary"
                                                maxlength="800"
                                                [(ngModel)]="newVenueArea.description"
                                                required>
                                     </textarea>
                                            <br>                                                                                                     
                                     </mat-expansion-panel>                                          
                 
                             <br>
                             <button (click)="createVenueArea()" 
                                         type="button" 
                                         class="">Create New Area
                             </button>                                                                
                                     
                             </form>
                         </mat-card>  
                             <br>
                        <div *ngIf="errors.length > 0" class="alert alert-danger">
                               <p *ngFor="let error of errors">
                                      {{error.detail}}
                               </p>
                        </div>                    
                </mat-tab>                
            </mat-tab-group>
        </mat-card>
    </div>
    <!-- <div fxFlex="100" fxFlex.gt-md="22" fxFlex.md="26" ngClass.gt-sm="pl-3" fxHide fxShow.gt-sm>
        <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%201" alt="" class="mw-100 d-block">
        <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%202" alt="" class="mw-100 d-block mt-3">
        <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%203" alt="" class="mw-100 d-block mt-3">
    </div> -->
</div>


