<div>
        <div fxFlex="100" fxFlex.gt-md="45" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
        
        
            <!-- <button mat-icon-button (click)="openZoomViewer()" fxHide="false" fxHide.gt-md><mat-icon>fullscreen</mat-icon></button>
            <img *ngIf="image" [src]="image" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)"/> -->
                
                <div ng2-carouselamos class="mat-card.product-image"
                     [items]="items"
                     [$prev]="prev"
                     [$next]="next"
                     [$item]="item">
                </div>

                <ng-template #prev>
                        <img src="assets/images/arrows/prev.png" alt="">
                </ng-template>
                
                <ng-template #next>
                        <img src="assets/images/arrows/next.png" alt="">
                </ng-template>

                <ng-template #item>
                    <img *ngIf="producth.image_big" [src]="producth.image_big" style="width:113%; height: 50%;">
                    <img *ngIf="producth.image_small" [src]="producth.image_small" style="width:113%; height: 50%;">
                    <img *ngIf="producth.image_medium" [src]="producth.image_medium" style="width:113%; height: 50%;">
                    <img *ngIf="producth.image_extra" [src]="producth.image_extra" style="width:113%; height: 50%;">
                </ng-template>
            
    <br>
    <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
        <img src="assets/images/icons/price.png" alt="price img">
        <div class="content">
            <p><b style="font-size:20px; margin-left: 10px;">Avg Price: {{ producth?.dailyRate }} /Day</b></p>
        </div> 
    </mat-card>

    </div>
    <div fxFlex="100" fxFlex.gt-md="45" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
        
        <div #zoomViewer fxShow="false" fxShow.gt-md>
            <mat-card *ngIf="zoomImage" class="zoom-viewer mat-elevation-z18" [ngStyle]="{'background-image': 'url(' + zoomImage + ')'}"></mat-card>
        </div>

        <h2>{{producth?.name | ucwords }}</h2>
        
        <div class="py-1 lh">
            <p><span class="text-muted fw-500"></span><span>{{ producth?.category | ucwords}}</span></p>
        </div>  
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <img src="assets/images/icons/location.png" alt="location img">
            <div class="content">
                <p><b style="font-size:15px; margin-left: 10px;">{{ producth?.city | ucwords}}, {{producth?.street | ucwords}} {{producth?.address | ucwords}}</b></p>
            </div> 
        </mat-card>
        <div class="divider mt-1"></div>
         
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <img src="assets/images/icons/email.png" alt="email img">
                <div class="content">
                    <p><b style="font-size:15px; margin-left: 10px;">{{ producth?.email }}</b></p>
                </div> 
            </mat-card>
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <img src="assets/images/icons/mobile.png" alt="phone img">
                <div class="content">
                    <p><b style="font-size:15px; margin-left: 10px;">+91 {{ producth?.phone }}</b></p>
                </div> 
            </mat-card>
            <div class="divider"></div>
            <button mat-raised-button  (click)="onCreateVenueArea()">
                    <mat-icon>add</mat-icon>Create
            </button>        
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxHide fxShow.gt-md> 

        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-0">
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <!-- <mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon> -->
                    <img src="assets/images/icons/guest.png" alt="Guest img">
                    <div class="content">
                        <p>MAXIMUM GUESTS<br><b style="font-size:18px; margin-left :40px ">{{ producth?.guests }}</b></p>
                    </div> 
                </mat-card> 
            </div>
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50" class="mt-16"> 
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <!-- <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon> -->
                    <img src="assets/images/icons/seating.png" alt="seating img">
                    <div class="content">
                        <p>MAXIMUM SEATING<br><b style="font-size:18px; margin-left :40px ">{{ producth?.seating }}</b></p>
                    </div> 
                </mat-card>
            </div>
            <div *ngIf="producth?.category === 'hotel' || producth?.category === 'wedding' || producth?.category === 'banquet'" fxFlex="100" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <img src="assets/images/icons/veg.png" alt="veg per plate">
                    <div class="content">
                        <p>PER-PLATE: <b style="font-size:15px;">Rs {{ producth?.veg_package }}</b></p>
                    </div> 
                </mat-card>
            </div>
            <div *ngIf="producth?.category === 'hotel' || producth?.category === 'wedding' || producth?.category === 'banquet'" fxFlex="100" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <img src="assets/images/icons/non-veg.png" alt="veg per plate">
                    <div class="content">
                        <p>PER-PLATE: <b style="font-size:15px;">Rs {{ producth?.non_veg_package }}</b></p>
                    </div> 
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50" class="mt-16"> 
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>
                    <div class="content">
                        <p>ONLINE SUPPORT 24/7</p> 
                        <span class="text-muted m-0">Call us: (+100) 123 456 7890</span>
                    </div> 
                </mat-card>
            </div>
        </div>       
    </div>
</div>

<div fxLayout="row wrap" class="mt-2">
    <div fxFlex="100" fxFlex.gt-md="78" fxFlex.md="74">
        <mat-card> 
            <mat-tab-group [@.disabled]="true" [selectedIndex]="0">       
                <mat-tab *ngIf="producth?.category === 'hotel' || producth?.category === 'wedding'" label="Details">
                    <div class="full-desc lh">
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/wifi.png" alt="wifi">
                                <div class="content">
                                    <p><b style="font-size:15px; margin-left: 20px;">{{ producth?.wifi | ucwords}}</b></p>
                                </div> 
                            </mat-card>
                            WIFI
                        </div>
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/ac.png" alt="AC img">
                                <div class="content">
                                    <p><b style="font-size:15px; margin-left: 20px;">{{ producth?.ac | ucwords}}</b></p>
                                </div> 
                            </mat-card>
                            AC
                        </div>
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/parking.png" alt="parking img">
                                <div class="content">
                                    <p><b style="font-size:15px; margin-left: 20px;">{{ producth?.parking | ucwords}}</b></p>
                                </div> 
                            </mat-card>
                            PARKING
                        </div>
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/bar.png" alt="bar img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.bar | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            BAR
                        </div>
                    </div>
                    <div class="full-desc lh">
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/party_room.png" alt="party room img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.party_room | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            PARTY ROOM
                        </div> 
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/stage.png" alt="stage img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.stage | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            STAGE
                        </div> 
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/theater.png" alt="theater img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.theater | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            THEATER
                        </div> 
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/sauna_spa.png" alt="sauna/spa img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.sauna_spa | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            SAUNA/SPA
                        </div> 
                    </div>
                    <div class="full-desc lh">
                        <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <strong>USP</strong>
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <div class="content">
                                    <ul> 
                                       <li><b style="font-size:12px;  margin-left: 10px;">{{ producth?.city | ucwords }}</b></li> 
                                       <li> <b style="font-size:12px;  margin-left: 10px;">{{ producth?.street | ucwords }}</b></li>
                                    </ul>
                                </div> 
                            </mat-card>
                        </div> 
                    </div>
                    <div class="full-desc lh">
                        <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <strong>POLICIES</strong>
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <div class="content">
                                    <ul> 
                                       <li><b style="font-size:12px;  margin-left: 10px;">{{ producth?.city | ucwords }}</b></li> 
                                       <li> <b style="font-size:12px;  margin-left: 10px;">{{ producth?.street | ucwords }}</b></li>
                                    </ul>
                                </div> 
                            </mat-card>
                        </div> 
                    </div>
                </mat-tab>
                <mat-tab *ngIf="producth?.category === 'sports'" label="Details">
                    <div class="full-desc lh">
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/cricket.png" alt="cricket img">
                                <div class="content">
                                    <p><b style="font-size:15px; margin-left: 20px;">{{ producth?.cricket | ucwords}}</b></p>
                                </div> 
                            </mat-card>
                            CRICKET
                        </div>
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/football.png" alt="football img">
                                <div class="content">
                                    <p><b style="font-size:15px; margin-left: 20px;">{{ producth?.football | ucwords}}</b></p>
                                </div> 
                            </mat-card>
                            FOOTBALL
                        </div>
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/futsal.png" alt="futsal img">
                                <div class="content">
                                    <p><b style="font-size:15px; margin-left: 20px;">{{ producth?.futsal | ucwords}}</b></p>
                                </div> 
                            </mat-card>
                            FUTSAL
                        </div>
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/netball.png" alt="bar img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.netball | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            NETBALL
                        </div>
                    </div>
                    <div class="full-desc lh">
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/badminton.png" alt="badminton img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.badminton | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            BADMINTON
                        </div> 
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/basketball.png" alt="basketball img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.basketball | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            BASKET BALL
                        </div> 
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/volleyball.png" alt="volley ball img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.volley_ball | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            VOLLEY BALL
                        </div> 
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/tennis.png" alt="tennis img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.tennis | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            TENNIS
                        </div> 
                    </div>
                    <div class="full-desc lh">
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/table_tennis.png" alt="table tennis img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.table_tennis | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            TABLE TENNIS
                        </div> 
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/squash.png" alt="squash img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.squash | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            SQUASH
                        </div> 
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/swimming.png" alt="swimming img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.swimming | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            SWIMMING
                        </div> 
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/gym.png" alt="gym img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.gym | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            GYM
                        </div> 
                    </div>
                    <div class="full-desc lh">
                        <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <strong>USP</strong>
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <div class="content">
                                    <ul> 
                                       <li><b style="font-size:12px;  margin-left: 10px;">{{ producth?.city | ucwords }}</b></li> 
                                       <li> <b style="font-size:12px;  margin-left: 10px;">{{ producth?.street | ucwords }}</b></li>
                                    </ul>
                                </div> 
                            </mat-card>
                        </div> 
                    </div>
                    <div class="full-desc lh">
                        <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <strong>POLICIES</strong>
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <div class="content">
                                    <ul> 
                                       <li><b style="font-size:12px;  margin-left: 10px;">{{ producth?.city | ucwords }}</b></li> 
                                       <li> <b style="font-size:12px;  margin-left: 10px;">{{ producth?.street | ucwords }}</b></li>
                                    </ul>
                                </div> 
                            </mat-card>
                        </div> 
                    </div>
                </mat-tab>
                <mat-tab *ngIf="producth?.category === 'conference' || producth?.category === 'meeting'" label="Details">
                    <div class="full-desc lh">
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/wifi.png" alt="wifi img">
                                <div class="content">
                                    <p><b style="font-size:15px; margin-left: 20px;">{{ producth?.wifi | ucwords}}</b></p>
                                </div> 
                            </mat-card>
                            WIFI
                        </div>
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/restaurant.png" alt="restaurant img">
                                <div class="content">
                                    <p><b style="font-size:15px; margin-left: 20px;">{{ producth?.restaurant | ucwords}}</b></p>
                                </div> 
                            </mat-card>
                            RESTAURANT
                        </div>
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/print_scan.png" alt="print scan img">
                                <div class="content">
                                    <p><b style="font-size:15px; margin-left: 20px;">{{ producth?.print_scan | ucwords}}</b></p>
                                </div> 
                            </mat-card>
                            PRINT/SCAN
                        </div>
                        <div class="outer">
                            <div class="inner"></div>
                        </div>
                        <div fxFlex="24" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <img src="assets/images/icons/parking.png" alt="parking img">
                                <div class="content">
                                    <p><b style="font-size:15px;  margin-left: 20px;">{{ producth?.parking | ucwords }}</b></p>
                                </div> 
                            </mat-card>
                            PARKING
                        </div>
                    </div>
                    <div class="full-desc lh">
                        <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <strong>USP</strong>
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <div class="content">
                                    <ul> 
                                       <li><b style="font-size:12px;  margin-left: 10px;">{{ producth?.city | ucwords }}</b></li> 
                                       <li> <b style="font-size:12px;  margin-left: 10px;">{{ producth?.street | ucwords }}</b></li>
                                    </ul>
                                </div> 
                            </mat-card>
                        </div> 
                    </div>
                    <div class="full-desc lh">
                        <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                            <strong>POLICIES</strong>
                            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                <div class="content">
                                    <ul> 
                                       <li><b style="font-size:12px;  margin-left: 10px;">{{ producth?.city | ucwords }}</b></li> 
                                       <li> <b style="font-size:12px;  margin-left: 10px;">{{ producth?.street | ucwords }}</b></li>
                                    </ul>
                                </div> 
                            </mat-card>
                        </div> 
                    </div>
                </mat-tab>
                <mat-tab label="Contact Info">
                    <div class="full-desc lh">
                            <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16">
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Address</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.city | ucwords}}, {{producth?.street | ucwords}} {{producth?.address | ucwords}}</p> 
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Email</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.email}}</p> 
                                    </div> 
                                </mat-card>
                            </div>
                            <div class="outer">
                                <div class="inner"></div>
                            </div>
                            <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16">
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Landmark</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.landmark}}</p> 
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Contact</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.phone}}</p> 
                                    </div> 
                                </mat-card>
                            </div>
                    </div>
                </mat-tab>
                    <mat-tab label="Map">
                    <div class="full-desc lh">
                        <app-map [location]="producth?.city + ', ' +  producth?.street"></app-map>
                    </div>
                </mat-tab>
                <mat-tab label="Areas">
                        <div *ngIf="auth.isAuthenticated() && auth.getCategoryName()==='Hotel/Venue'">

                            
                               <mat-card>                                                           
                               <form #venueareaForm="ngForm" class="w3-container">
                                            <h1>Add New Area</h1>
                                             <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                           <mat-panel-title>
                                                                  <h4>Area type</h4>
                                                           </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                             <p>
                                             <p>
                                             <br>
                                             <select class="w3-input"
                                                           id="category"
                                                           name="category"
                                                           [(ngModel)]="newVenueArea.category">
                                                           <option [ngValue]="undefined" disabled selected>Select Area </option>
                                                    <option *ngFor="let category of venueAreaCategories">{{category}} </option>
                                                    </select></p>
                                            </mat-expansion-panel>
                                            <br>
                                            <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                           <mat-panel-title>
                                                                  <h4>Add Images</h4>
                                                           </mat-panel-title>
                                                    </mat-expansion-panel-header> 
                                            <label>Upload Image 1</label>
                                            <!-- <input class="w3-input" 
                                                   type="file"
                                                   id="image1"
                                                   (change)="handleImage1Change()"> -->
                                                   <laeventa-image-upload
                                                   (imageUploaded)="handleImage1Change($event)"
                                                                 (imageError)="handleImage1Error()"
                                                   ></laeventa-image-upload>
                                            <p>
                                            <br>
                                            <label>Upload Image 2</label>
                                            <!-- <input class="w3-input" 
                                                   type="file"
                                                   id="image2"
                                                   (change)="handleImage2Change()"></p> -->
                                                   <laeventa-image-upload
                                                   (imageUploaded)="handleImage2Change($event)"
                                                                 (imageError)="handleImage2Error()"
                                                   ></laeventa-image-upload>
                                            <p>
                                            <br>
                                            <label>Upload Image 3</label>
                                            <!-- <input class="w3-input" 
                                                   type="file"
                                                   id="image3"
                                                   (change)="handleImage3Change()"></p> -->
                                                   <laeventa-image-upload
                                                   (imageUploaded)="handleImage3Change($event)"
                                                                 (imageError)="handleImage3Error()"
                                                   ></laeventa-image-upload>
                                            <p>
                                            <br>
                                            <label>Upload Image 4</label>
                                            <!-- <input class="w3-input" 
                                                   type="file"
                                                   id="image4"
                                                   (change)="handleImage4Change()"></p> -->
                                                   <laeventa-image-upload
                                                   (imageUploaded)="handleImage4Change($event)"
                                                                 (imageError)="handleImage4Error()"
                                                   ></laeventa-image-upload>
                                             <p>
                                             <br>
                                             <label>Upload Image 5</label>
                                                    <!-- <input class="w3-input" 
                                                    type="file"
                                                    id="image4"
                                                    (change)="handleImage4Change()"></p> -->
                                                    <laeventa-image-upload
                                                    (imageUploaded)="handleImage5Change($event)"
                                                                  (imageError)="handleImage4Error()"
                                                    ></laeventa-image-upload>
                                             <p>
                                             <br>
                                             <label>Upload Image 6</label>
                                                    <!-- <input class="w3-input" 
                                                    type="file"
                                                    id="image4"
                                                    (change)="handleImage4Change()"></p> -->
                                                    <laeventa-image-upload
                                                    (imageUploaded)="handleImage6Change($event)"
                                                                  (imageError)="handleImage4Error()"
                                                    ></laeventa-image-upload>                                                       
                                            </mat-expansion-panel>
                                            <br>
                                            <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                           <mat-panel-title>
                                                                  <h4>Features</h4>
                                                           </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                             <p>
                                             <p>
                                             <br>
                                             <select class="w3-input"
                                                           id="price"
                                                           name="price"
                                                           [(ngModel)]="newVenueArea.price">
                                                           <option [ngValue]="undefined" disabled selected>Price </option>
                                                    <option *ngFor="let category of venueAreaCategories">{{category}} </option>
                                                    </select></p>
                                            <p>
                                            <input class="w3-input" 
                                                            type="number"
                                                            placeholder="Price"
                                                            id="price"
                                                            name="price"
                                                            [(ngModel)]="newVenueArea.price"></p>                                                    
                                            </mat-expansion-panel>                                          
                        
                                    <br>
                                    <button (click)="createVenueArea()" 
                                                type="button" 
                                                class="">Create New Area
                                    </button>                                                                
                                            
                                    </form>
                                </mat-card>  
                                    <br>
                                    <!-- <div *ngIf="errors.length > 0" class="alert alert-danger">
                                      <p *ngFor="let error of errors">
                                             {{error.detail}}
                                      </p>
                               </div> -->
                            
                        </div>
                        <mat-card>

                        <div *ngFor="let venuearea of producth?.venueareas; let i = index">

                            <div ng2-carouselamos class="mat-card.product-image"
                                [items]="items"
                                [$prev]="prev"
                                [$next]="next"
                                [$item]="item">
                            </div>
    
                            <ng-template #prev>
                                    <img src="assets/images/arrows/prev.png" alt="">
                            </ng-template>
                            
                            <ng-template #next>
                                    <img src="assets/images/arrows/next.png" alt="">
                            </ng-template>
                                                                                    
                                <ng-template #item>
                                    <img *ngIf="venuearea.image1" [src]="venuearea.image1" style="width:113%; height: 50%;">
                                    <img *ngIf="venuearea.image2" [src]="venuearea.image2" style="width:113%; height: 50%;">
                                    <img *ngIf="venuearea.image3" [src]="venuearea.image3" style="width:113%; height: 50%;">
                                    <img *ngIf="venuearea.image4" [src]="venuearea.image4" style="width:113%; height: 50%;">
                                    <img *ngIf="venuearea.image5" [src]="venuearea.image5" style="width:113%; height: 50%;">
                                    <img *ngIf="venuearea.image6" [src]="venuearea.image6" style="width:113%; height: 50%;">
                                </ng-template>

                                <br>
                                <h1>{{ 
                                    venuearea.category
                                }}</h1>
                                <br>
                                <h1>{{
                                    venuearea.price
                                }}</h1>
                                <div *ngIf="auth.isAuthenticated() && auth.getCategoryName()==='Hotel/Venue'">
                                <button (click)="venueareaDeleteIndex = i"
                                *ngIf="venueareaDeleteIndex !== i"
                                type="button" 
                                class="">Delete</button>
                                <div class="divider"></div>
                                <br>
                        <div *ngIf="venueareaDeleteIndex === i">
                            clicked
                                
                            <p class="confirm-message">Do you confirm delete?</p> 
                                <button (click)="deleteVenueArea(venuearea._id)"
                                        class="btn btn-success">Yes</button>
                                <button (click)="venueareaDeleteIndex = undefined"
                                        class="btn btn-danger">No</button>
                            </div>
                        </div>
                        </div>

                    </mat-card>
                    
                    
                        <!-- <div *ngFor="let venuearea of venueareas; let i = index">
                                <button (click)="venueareaDeleteIndex = i"
                                *ngIf="venueareaDeleteIndex !== i"
                                type="button" 
                                class="">Delete</button>
                        <div *ngIf="venueareaDeleteIndex === i">
                            clicked
                                
                            <p class="confirm-message">Do you confirm delete?</p> 
                                <button (click)="deleteVenueArea(venuearea._id)"
                                        class="btn btn-success">Yes</button>
                                <button (click)="venueareaDeleteIndex = undefined"
                                        class="btn btn-danger">No</button>
                            </div>
                        </div> -->
                        
                </mat-tab>                
                <mat-tab label="Reviews">
                    <div class="full-desc lh">
                        <mat-list class="reviews">
                            <mat-list-item class="h-100 py-1">
                                <img matListAvatar [src]="'assets/images/avatars/avatar-1.png'" alt="image" class="review-author">
                                <p matLine fxLayoutAlign="start center">
                                    <span class="fw-500">Bruno Vespa</span> 
                                    <mat-icon class="text-muted px-1" matTooltip="Dissatisfied" matTooltipPosition="after">sentiment_dissatisfied</mat-icon>
                                </p>
                                <p matLine class="text-muted"><small>13 January, 2018 at 7:09</small></p>
                                <p matLine class="text">Integer id eros et mi fringilla imperdiet. In dictum turpis eget magna viverra condimentum. Ut malesuada interdum ultrices. Proin tristique sem pellentesque, posuere dui in, maximus magna. Aenean vehicula, tortor gravida elementum tincidunt, justo lorem vestibulum ex, eget egestas arcu tellus in magna.</p>
                            </mat-list-item>
                            <mat-list-item class="h-100 py-1">
                                <img matListAvatar [src]="'assets/images/avatars/avatar-2.png'" alt="image" class="review-author">
                                <p matLine fxLayoutAlign="start center">
                                    <span class="fw-500">Julia Aniston</span> 
                                    <mat-icon class="text-muted px-1" matTooltip="Very Satisfied" matTooltipPosition="after">sentiment_very_satisfied</mat-icon>
                                </p>
                                <p matLine class="text-muted"><small>04 February, 2018 at 10:22</small></p>
                                <p matLine class="text">Nulla accumsan, lacus sed suscipit rutrum, turpis augue accumsan metus, in accumsan urna mi vehicula lorem. Pellentesque semper nibh vitae augue placerat finibus. Nulla sed porttitor nunc, quis tristique sem. Quisque in varius nisl. Integer turpis lorem, ultricies sed sem nec, commodo molestie arcu. Nulla finibus ex tortor, et suscipit magna semper consectetur. Cras sit amet metus dui. Maecenas eget dui at ex varius malesuada vel non felis.</p>
                            </mat-list-item>
                            <mat-list-item class="h-100 py-1">
                                <img matListAvatar [src]="'assets/images/avatars/avatar-3.png'" alt="image" class="review-author">
                                <p matLine fxLayoutAlign="start center">
                                    <span class="fw-500">Andy Warhol</span> 
                                    <mat-icon class="text-muted px-1" matTooltip="Neutral" matTooltipPosition="after">sentiment_neutral</mat-icon>
                                </p>
                                <p matLine class="text-muted"><small>14 February, 2018 at 11:10</small></p>
                                <p matLine class="text">Pellentesque hendrerit vel turpis aliquam placerat. Suspendisse ullamcorper congue feugiat. Etiam gravida metus ac massa posuere venenatis. Pellentesque vehicula lobortis dolor, ac pretium dolor maximus quis. Fusce vitae iaculis mauris, quis posuere ex. Mauris vitae convallis nibh. Etiam eget enim at orci interdum maximus nec in ante.</p>
                            </mat-list-item>
                        </mat-list>
                        
                        <h3 class="mt-2">LEAVE YOUR REVIEW</h3>
                        <div class="divider"></div>
                        <p class="mt-2 text-muted">Your email address will not be published. Required fields are marked *</p>
                        <h3 fxLayoutAlign="start center" class="mt-2">
                            <span>Your Rating:</span>
                            <button mat-icon-button matTooltip="Very Dissatisfied" matTooltipPosition="above"><mat-icon class="mat-icon-lg">sentiment_very_dissatisfied</mat-icon></button>
                            <button mat-icon-button matTooltip="Dissatisfied" matTooltipPosition="above"><mat-icon class="mat-icon-lg">sentiment_dissatisfied</mat-icon></button>
                            <button mat-icon-button matTooltip="Neutral" matTooltipPosition="above"><mat-icon class="mat-icon-lg">sentiment_neutral</mat-icon></button>
                            <button mat-icon-button matTooltip="Satisfied" matTooltipPosition="above"><mat-icon class="mat-icon-lg">sentiment_satisfied</mat-icon></button>
                            <button mat-icon-button matTooltip="Very Satisfied" matTooltipPosition="above"><mat-icon class="mat-icon-lg">sentiment_very_satisfied</mat-icon></button>
                        </h3>

                        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxLayout="row wrap">
                            <div fxFlex="100" class="px-1 mt-1">
                                <mat-form-field class="w-100">
                                    <textarea matInput placeholder="Your review" formControlName="review" required></textarea>
                                    <mat-error *ngIf="form.controls.review.errors?.required">Review is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 mt-2">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Your name" formControlName="name" required>
                                    <mat-error *ngIf="form.controls.name.errors?.required">Name is required</mat-error>
                                    <mat-error *ngIf="form.controls.name.hasError('minlength')">Name isn't long enough, minimum of 4 characters</mat-error>
                                </mat-form-field> 
                            </div>
                            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 mt-2">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Your email" formControlName="email" required>
                                    <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                                    <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                                </mat-form-field> 
                            </div>
                            <div fxFlex="100" class="mt-2 text-center w-100">
                                <button mat-raised-button color="primary" type="submit">SUBMIT REVIEW</button>
                            </div>
                        </form>    
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="22" fxFlex.md="26" ngClass.gt-sm="pl-3" fxHide fxShow.gt-sm>
        <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%201" alt="" class="mw-100 d-block">
        <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%202" alt="" class="mw-100 d-block mt-3">
        <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%203" alt="" class="mw-100 d-block mt-3">
    </div>
</div>


