<mat-card>
    <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
                <form [formGroup]="passwordResetForm" (ngSubmit)="onPasswordResetFormSubmit(passwordResetForm.value)">
                    <mat-form-field class="w-100 mt-1">
                        <input matInput placeholder="Email" formControlName="email" required>
                        <mat-error *ngIf="passwordResetForm.controls.email.errors?.required">Email is required</mat-error>
                        <mat-error *ngIf="passwordResetForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                    </mat-form-field>
                    <div class="text-center mt-2">
                        <button mat-fab color="primary" class="mat-elevation-z6" (click)="onPasswordResetFormSubmit(passwordResetForm.value)">
                            <mat-icon>person_add</mat-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div> 
</mat-card>