<div>
    <input *ngIf="isActiveInput" 
           class="{{className}}"
           type="text"
           [(ngModel)]="entity[field]"
           [value]="entity[field]">
           
    <span *ngIf="!isActiveInput" class="{{className}} inline"> {{ entity[field] }} </span>

    <div class="inline">
        
        <button *ngIf="!isActiveInput" class="btn warning" (click)="isActiveInput = true">Edit</button>
        <button *ngIf="isActiveInput" class="btn success" (click)="updateEntity()">Save</button>
        <button *ngIf="isActiveInput" class="btn danger" (click)="isActiveInput = false">Cancel</button>
    </div>
</div>