<div>
        <div fxFlex="100" fxFlex.gt-md="45" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
        
        
            <!-- <button mat-icon-button (click)="openZoomViewer()" fxHide="false" fxHide.gt-md><mat-icon>fullscreen</mat-icon></button>
            <img *ngIf="image" [src]="image" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)"/> -->
            <mat-card >
                <div ng2-carouselamos class="slider-wrapper"
                     [items]="items"
                     [$prev]="prev"
                     [$next]="next"
                     [$item]="item">
                </div>

                <ng-template #prev>
                        <img src="assets/images/arrows/prev.png" alt="">
                </ng-template>
                
                <ng-template #next>
                        <img src="assets/images/arrows/next.png" alt="">
                </ng-template>
                
                <ng-template #item>
                       
                        <img id="custom-image" *ngIf="producth?.image1" [src]="producth.image1" >
                        <img id="custom-image" *ngIf="producth?.image2" [src]="producth.image2" >
                        <img id="custom-image" *ngIf="producth?.image3" [src]="producth.image3" >
                        <img id="custom-image" *ngIf="producth?.image4" [src]="producth.image4" >
                        <img id="custom-image" *ngIf="producth?.image5" [src]="producth.image5" >
                      
                </ng-template>   
            </mat-card>   

    </div>
    <div fxFlex="100" fxFlex.gt-md="45" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
        
        <div #zoomViewer fxShow="false" fxShow.gt-md>
            <mat-card *ngIf="zoomImage" class="zoom-viewer mat-elevation-z18" [ngStyle]="{'background-image': 'url(' + zoomImage + ')'}"></mat-card>
        </div>

        <!-- <h2>{{producth?.name | ucwords }}</h2> -->
        <h2>
        <laeventa-editable-input
        [(entity)]="producth"
        [field]="'name'"
        [className]="''"
        (entityUpdated)="updateVenue(producth._id, $event)">
        </laeventa-editable-input>
        </h2>
        <div class="py-1 lh">
            <p><span class="text-muted fw-500"></span><span>{{ producth?.category | ucwords}}</span></p>
        </div>  
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <img src="assets/images/icons/location.png" alt="location img">
            <div class="content">
                <p><b style="font-size:15px; margin-left: 10px;">
                    
                    <!-- {{ producth?.city | ucwords}}, 
                    {{producth?.street | ucwords}} 
                    {{producth?.address | ucwords}} -->

                    <laeventa-editable-input
                    [(entity)]="producth"
                    [field]="'plot_flat'"
                    [className]="''"
                    (entityUpdated)="updateVenue(producth._id, $event)">
                    </laeventa-editable-input>
                
                    <laeventa-editable-input
                    [(entity)]="producth"
                    [field]="'region'"
                    [className]="''"
                    (entityUpdated)="updateVenue(producth._id, $event)">
                    </laeventa-editable-input>  
                    
                    <laeventa-editable-input
                    [(entity)]="producth"
                    [field]="'city'"
                    [className]="''"
                    (entityUpdated)="updateVenue(producth._id, $event)">
                    </laeventa-editable-input>
                
                    <!-- <laeventa-editable-input
                    [(entity)]="producth"
                    [field]="'address'"
                    [className]="''"
                    (entityUpdated)="updateVenue(producth._id, $event)">
                    </laeventa-editable-input> -->
                </b></p>
            </div> 
        </mat-card>
        <div class="divider mt-1"></div>
         
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <img src="assets/images/icons/email.png" alt="email img">
                <div class="content">
                    <p><b style="font-size:15px; margin-left: 10px;">
                        <!-- {{ producth?.email }} -->
                        <laeventa-editable-input
                        [(entity)]="producth"
                        [field]="'email'"
                        [className]="''"
                        (entityUpdated)="updateVenue(producth._id, $event)">
                        </laeventa-editable-input>
                    </b></p>
                </div> 
            </mat-card>
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <img src="assets/images/icons/mobile.png" alt="phone img">
                <div class="content">
                    <p><b style="font-size:15px; margin-left: 10px;">
                        <laeventa-editable-input
                        [(entity)]="producth"
                        [field]="'phone'"
                        [className]="''"
                        (entityUpdated)="updateVenue(producth._id, $event)">
                        </laeventa-editable-input>
                    </b></p>
                </div> 
            </mat-card>
            <div class="divider"></div>            
    </div>
  
    <div fxFlex="100" fxFlex.gt-md="20" fxHide fxShow.gt-md> 
        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-0">
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <img src="assets/images/icons/price.png" alt="Price img">
                    <div class="content">
                        <p style="font-size:14px; margin-left :10px ">Price Range 
                            <laeventa-editable-input
                            [(entity)]="producth"
                            [field]="'min_rate'"
                            [className]="''"
                            (entityUpdated)="updateVenue(producth._id, $event)">
                            </laeventa-editable-input>
                        </p>
                        <p style="font-size:14px; margin-left :10px "> 
                            <laeventa-editable-input
                            [(entity)]="producth"
                            [field]="'max_rate'"
                            [className]="''"
                            (entityUpdated)="updateVenue(producth._id, $event)">
                            </laeventa-editable-input>
                        </p>
                    </div> 
                </mat-card> 
            </div>
        </div>  
        <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50" class="mt-16">
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <img src="assets/images/icons/usp.png" alt="Usp img">
                <div class="content">
                    <p style="font-size:18px; margin-left :10px ">USP</p>
                    <p style="font-size:14px; margin-left :10px ">
                        <laeventa-editable-input
                        [(entity)]="producth"
                        [field]="'usp1'"
                        [className]="''"
                        (entityUpdated)="updateVenue(producth._id, $event)">
                        </laeventa-editable-input>
                    </p>
                    <p *ngIf="producth?.usp2" style="font-size:14px; margin-left :10px ">
                        <laeventa-editable-input
                        [(entity)]="producth"
                        [field]="'usp2'"
                        [className]="''"
                        (entityUpdated)="updateVenue(producth._id, $event)">
                        </laeventa-editable-input>
                    </p>
                    <p *ngIf="producth?.usp3" style="font-size:14px; margin-left :10px ">
                        <laeventa-editable-input
                        [(entity)]="producth"
                        [field]="'usp3'"
                        [className]="''"
                        (entityUpdated)="updateVenue(producth._id, $event)">
                        </laeventa-editable-input>
                    </p>
                    <p *ngIf="producth?.usp4" style="font-size:14px; margin-left :10px ">
                        <laeventa-editable-input
                        [(entity)]="producth"
                        [field]="'usp4'"
                        [className]="''"
                        (entityUpdated)="updateVenue(producth._id, $event)">
                        </laeventa-editable-input>
                    </p>
                    <p *ngIf="producth?.usp5" style="font-size:14px; margin-left :10px ">
                        <laeventa-editable-input
                        [(entity)]="producth"
                        [field]="'usp5'"
                        [className]="''"
                        (entityUpdated)="updateVenue(producth._id, $event)">
                        </laeventa-editable-input>
                    </p>
                </div> 
            </mat-card> 
        </div> 
        <!-- <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50" class="mt-16">
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <img src="assets/images/icons/available.png" alt="available img">
                <div class="content">
                    <p style="font-size:18px; margin-left :10px ">Best suited for</p>
                    <p style="font-size:14px; margin-left :10px ">
                        <laeventa-editable-input
                        [(entity)]="producth"
                        [field]="'facilities'"
                        [className]="''"
                        (entityUpdated)="updateVenue(producth._id, $event)">
                        </laeventa-editable-input>
                    </p>
                </div> 
            </mat-card> 
        </div>                -->
    </div>
</div>

<div fxLayout="row wrap" class="mt-2">
    <div fxFlex="100" fxFlex.gt-md="78" fxFlex.md="74">
        <mat-card> 
            <mat-tab-group [@.disabled]="true" [selectedIndex]="0">       
                <mat-tab label="Overview">
                        <div class="full-desc lh">
                            <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16">
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Opening Time:</strong> 
                                    <div class="content">
                                        <p style="font-size:16px; margin-left: 10px;">{{ producth?.open_timing}}</p> 
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Address</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.city | ucwords}}, {{producth?.region | ucwords}} {{producth?.address | ucwords}}</p> 
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Email</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.email}}</p> 
                                    </div> 
                                </mat-card>
                            </div>
                            <div class="outer">
                                <div class="inner"></div>
                            </div>
                            <div fxFlex="49" fxFlex.md="25"fxFlex.sm="50" class="mt-16">
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Closing Time:</strong> 
                                    <div class="content">
                                            <p style="font-size:16px; margin-left: 10px;">{{ producth?.close_timing}}</p> 
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Landmark</strong> 
                                    <div class="content">
                                        <p style="font-size:12px; margin-left: 10px;">{{ producth?.landmark | ucwords}}</p> 
                                    </div> 
                                </mat-card>
                                <br>
                                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                                    <strong>Contact</strong> 
                                    <div class="content">
                                        <p style="font-size:16px; margin-left: 10px; color: green">{{ producth?.phone}}</p> 
                                    </div> 
                                </mat-card>
                            </div>
                    </div>
                    <div class="full-desc lh">
                        <app-map [location]="producth?.city + ', ' +  producth?.region"></app-map>
                    </div>
                    <br>
                    <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                        <img src="assets/images/icons/summary.png" alt="summary img">
                        <div class="content">
                            <p><b style="font-size:18px; margin-left: 10px;">Summary:</b></p>
                            <p style="font-size:14px; margin-left: 10px;">
                                    <laeventa-editable-input
                                    [(entity)]="producth"
                                    [field]="'summary'"
                                    [className]="''"
                                    (entityUpdated)="updateVenue(producth._id, $event)">
                                    </laeventa-editable-input>
                            </p>
                        </div> 
                    </mat-card>
                </mat-tab>
                <mat-tab label="Areas">
                    <div class="full-desc lh">
                        <mat-card>
                            <h3 id="area-number"> Number of Areas: {{producth?.venueareas.length}} </h3>
                            <div *ngFor="let venuearea of producth?.venueareas; let i = index">
                               
    
                                <div ng2-carouselamos class="mat-card.product-image"
                                    [items]="items"
                                    [$prev]="prev"
                                    [$next]="next"
                                    [$item]="item">
                                </div>
        
                                <ng-template #prev>
                                        <img src="assets/images/arrows/prev.png" alt="">
                                </ng-template>
                                
                                <ng-template #next>
                                        <img src="assets/images/arrows/next.png" alt="">
                                </ng-template>
                                                                                        
                                    <ng-template #item>
                                        <img *ngIf="venuearea.image1" [src]="venuearea.image1" style="width:113%; height: 50%;">
                                        <img *ngIf="venuearea.image2" [src]="venuearea.image2" style="width:113%; height: 50%;">
                                        <img *ngIf="venuearea.image3" [src]="venuearea.image3" style="width:113%; height: 50%;">
                                        <img *ngIf="venuearea.image4" [src]="venuearea.image4" style="width:113%; height: 50%;">
                                        <img *ngIf="venuearea.image5" [src]="venuearea.image5" style="width:113%; height: 50%;">
                                        <img *ngIf="venuearea.image6" [src]="venuearea.image6" style="width:113%; height: 50%;">
                                    </ng-template>
    
                                    <br>
                                    <div id="area-detail">
                                        <h3>{{ 
                                            venuearea.category
                                        }}</h3>
    
                                        <h3> Pricing: {{
                                            venuearea.price
                                        }}</h3>
                                        <h3> Features: {{
                                                venuearea.features
                                            }}</h3>
                                    </div>
                                    <!-- <div id="delete-button" *ngIf="auth.isAuthenticated() && auth.getCategoryName()==='Hotel/Venue'">
                                    <button (click)="venueareaDeleteIndex = i"
                                    *ngIf="venueareaDeleteIndex !== i"
                                    type="button" 
                                    class="">Delete</button>
                                    <br>
                                    <div class="divider"></div>
                                   
                            <div *ngIf="venueareaDeleteIndex === i">
                                clicked
                                    
                                <p class="confirm-message">Do you confirm delete?</p> 
                                    <button (click)="deleteVenueArea(venuearea._id)"
                                            class="btn btn-success">Yes</button>
                                    <button (click)="venueareaDeleteIndex = undefined"
                                            class="btn btn-danger">No</button>
                                </div>
                                <div *ngIf="errors.length > 0" class="alert alert-danger">
                                        <p *ngFor="let error of errors">
                                               {{error.detail}}
                                        </p>
                                        <a style="background-color: Green" mat-button routerLink="/manage/venues">Manage</a>
                                 </div>
                            </div> -->
                            <div class="divider"></div>
                            <br>
                            </div>
    
                        </mat-card>
                    </div>
                </mat-tab>

                <mat-tab label="Policies">
                    <div class="full-desc lh">


                        
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>


