<app-main-carousel [slides]="slides"></app-main-carousel> 

<div fxLayout="row wrap" class="info-bar">
    <div fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-xs="50">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <img src="assets/images/icons/sports.png" alt="sports img">
            <div class="content">
                <p>SPORTS</p> 
                <span class="text-muted m-0">write something here</span>
            </div> 
        </mat-card> 
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <!-- <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon> -->
            <img src="assets/images/icons/wedding.png" alt="wedding img">
            <div class="content">
                <p>WEDDING</p> 
                <span class="text-muted m-0">write something here</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <!-- <mat-icon class="mat-icon-xlg text-muted m-0">monetization_on</mat-icon> -->
            <img src="assets/images/icons/meeting.png" alt="meeting img">
            <div class="content">
                <p>MEETING</p> 
                <span class="text-muted m-0">write something here</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <!-- <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon> -->
            <img src="assets/images/icons/conference.png" alt="conference img">
            <div class="content">
                <p>CONFERENCE</p> 
                <span class="text-muted m-0">write something here</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-xs="50"> 
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <!-- <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon> -->
                <img src="assets/images/icons/party.png" alt="party img">
                <div class="content">
                    <p>PARTY</p> 
                    <span class="text-muted m-0">write something here</span>
                </div> 
            </mat-card>
        </div>
</div>

<app-banners [banners]="banners"></app-banners>

<!-- <div class="products-tabs">  

    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">
       
        <mat-tab label="Featured">           
           <app-products-carousel [products]="featuredProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="On Sale">
           <app-products-carousel [products]="onSaleProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="Top Rated">
            <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="New Arrivals">
            <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
        </mat-tab>
    </mat-tab-group> 


</div> -->

<!-- <app-brands-carousel [brands]="brands"></app-brands-carousel>  -->