<mat-card *ngIf="!auth.isAuthenticated()"> 
    <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
                <form [formGroup]="passwordResetForm" (ngSubmit)="onPasswordResetFormSubmit()">
                    <mat-form-field class="w-100 mt-1">
                        <input matInput placeholder="Enter registered email" formControlName="email" required>
                        <mat-error *ngIf="passwordResetForm.controls.email.errors?.required">Email is required</mat-error>
                        <mat-error *ngIf="passwordResetForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                    </mat-form-field>
                    <div class="text-center mt-2">
                        <button mat-fab color="primary" class="mat-elevation-z6" type="submit">
                            <mat-icon>exit_to_app</mat-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div> 
</mat-card>

<mat-card *ngIf="auth.isAuthenticated()"> 
    <div fxLayout="row wrap">
        <span fxShow="false" fxShow.gt-sm>
            <a mat-button (click)="logout()">Logout and Reset Password!</a>
        </span> 
    </div> 
</mat-card>